{% extends 'main/base.html' %}

{% block title %} Hospital {% endblock %}

{% block content %}


<div class="container">
<h2>Create a new Project here!</h2>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label class="form-label">Project Name</label>
    <input type="text" name="name" class="form-control" />

    <label>Choose File:</label> 
    <input type="file" name="feature_image" class="form-control"/> 

    <label class="form-label">Description</label>
    <input class="form-control" name="description" type="form-control"/>

    <label class="form-label">Department</label>
    <select name="department" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="Construction">Construction</option>
        <option value="RealEstate">RealEstate</option>
        <option value="Health Care">Health Care</option>
        <option value="Import/Export">Import/Export</option>
        <option value="Technology">Technology</option>
        <option value="Utility">Utility</option>
        <option value="Other">Other</option>
      </select>

    <label for="date">Established</label> 
    <input class= "m-2" name="established_at" type="date"/> 

      <br/>
      <input type="submit" class="btn btn-primary" value="Creat Project" />

</form>
</div>



{% endblock %}