{% extends 'main/base.html' %}

{% block title %} Details for {{ projct.name }}  {% endblock %}


{% block content %}

<div class="container">
    <section>
    <h1>{{ project.name }}</h1>
    <h6>Sector: {{ project.department}}</h6>
    <p>{{ project.description }}</p>
    <img src="{{project.feature_image.url}}" alt="">
    <h6>Established on: {{ project.established_at}}</h6>
    <h6>Share Value: {{ project.sharesValue}}</h6>
    {% if user.is_authenticated %}
    <h6>Your Shares: {{ project.usrShares}}</h6>
    
    </section>
    <hr/>
    
      <br/>
      <form class="d-flex" method=POST action="{% url 'main:buy' %}">
        {% csrf_token %}
        <label class="form-label">Enter Share Count</label>
        <input type="number" min="0" name="wantedCount" class="form-control" />
        <button class="btn btn-outline-primary" type="submit">Buy</button>



      </form>
    {% if buy_msg %}
    <h6 class="text-danger">{{buy_msg}}</h6>
    {% endif %}
    {% endif %}
</div>

{% endblock %}